@font-face {
  font-family: "rahul";
  src: url(https://cdn.prod.website-files.com/68e65d77fd19a20963758dbf/68e65d77fd19a20963758e26_Inter18pt-Medium.woff2);
}
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: clamp(14px, 1vw, 20px);
  font-family: "rahul";
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main section.view1 {
  width: 100%;
  background-image: url(https://cdn.prod.website-files.com/68e65d77fd19a20963758dbf/68e65d77fd19a20963758e32_moneda-home-hero.avif);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 1.3rem;
}
main section.view1 .bottom {
  margin: auto 0;
  color: white;
  font-size: 1.7rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
main section.view1 .bottom h1 {
  line-height: 0.9;
  margin-bottom: 0.5rem;
  transform: translateY(-1rem);
  border: center;
}
main section.view1 .bottom #line {
  -webkit-text-decoration: line-through rgb(56, 190, 235) 9px;
          text-decoration: line-through rgb(56, 190, 235) 9px;
}
main section.view1 .last {
  color: white;
  text-align: center;
  margin-bottom: 0.8rem;
  transform: translateY(-1rem);
}
main section.view1 .last p {
  line-height: 1.2;
  font-size: 1.2rem;
  font-weight: 400;
}
main section.view2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 1.3rem;
}
main section.view2 .top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section.view2 .top video {
  width: 54%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
main section.view2 .bottom {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  text-align: center;
  margin: 1.5rem 0rem;
  line-height: 1.2;
}
main .blank1 {
  width: 100%;
  height: 12vh;
}
main .blank {
  width: 100%;
  height: 12vh;
}
main .blank1 {
  height: 29vh;
}
main section.view3 {
  display: flex;
  flex-direction: column;
  padding: 0rem 1.3rem;
  margin-bottom: 1rem;
}
main section.view3 #box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #000;
  height: 82vh;
  border-radius: 50px;
  position: relative;
}
main section.view3 #box h2 {
  font-size: 1.3rem;
  position: absolute;
  top: 16%;
  color: white;
  transform: scaleY(0.8);
}
main .blank2 {
  width: 100%;
  height: 280vh;
}
main section.view4 {
  display: flex;
  flex-direction: column;
  padding: 0rem 1.3rem;
}
main section.view4 h2 {
  margin: 0.5rem 0rem;
  font-size: 2.5rem;
  line-height: 1.1;
  margin-bottom: 2rem;
}
main section.view4 .box1 img {
  font-size: 2rem;
  width: 12%;
  padding: 0.5rem;
  background: #dee2ff;
  border-radius: 10px;
  font-weight: 300;
}
main section.view4 .box1 {
  display: flex;
  flex-direction: column;
}
main section.view4 .box1 img {
  font-size: 2rem;
  width: 12%;
  padding: 0.5rem;
  background: #dee2ff;
  border-radius: 10px;
  font-weight: 300;
}
main section.view4 .box1 {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
main section.view4 .box1 img {
  margin-bottom: 0.5rem;
}
main section.view4 .box1 h2 {
  margin: 0.5rem 0rem;
  font-size: 2.9rem;
  font-weight: 600;
  line-height: 1.1;
}
main section.view4 .box1 h3 {
  line-height: 0.5;
  font-weight: 100;
  font-size: 1.4rem;
}
main section.view4 .box1 p {
  width: 60%;
  margin: 1rem 0rem;
}
main section.view4 .box1 {
  border-bottom: 2px solid rgba(34, 33, 33, 0.2);
}
main section.view4 .box2 {
  margin: 1rem 0rem;
}
main section.view4 .box2 img {
  font-size: 2rem;
  width: 12%;
  padding: 0.5rem;
  background: #dee2ff;
  border-radius: 10px;
  font-weight: 300;
}
main section.view4 .box2 {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
main section.view4 .box2 img {
  margin-bottom: 0.5rem;
}
main section.view4 .box2 h2 {
  margin: 0.5rem 0rem;
  font-size: 2.9rem;
  font-weight: 600;
  line-height: 1.1;
}
main section.view4 .box2 h3 {
  line-height: 0.5;
  font-weight: 100;
  font-size: 1.4rem;
}
main section.view4 .box2 p {
  width: 60%;
  margin: 1rem 0rem;
}
main section.view4 .box2 {
  border-bottom: 2px solid rgba(34, 33, 33, 0.2);
}
main section.view4 .box3 {
  margin: 1rem 0rem;
}
main section.view4 .box3 img {
  font-size: 2rem;
  width: 12%;
  padding: 0.5rem;
  background: #dee2ff;
  border-radius: 10px;
  font-weight: 300;
}
main section.view4 .box3 {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
main section.view4 .box3 img {
  margin-bottom: 0.5rem;
}
main section.view4 .box3 h2 {
  margin: 0.5rem 0rem;
  font-size: 2.9rem;
  font-weight: 600;
  line-height: 1.1;
}
main section.view4 .box3 h3 {
  line-height: 0.5;
  font-weight: 100;
  font-size: 1.4rem;
}
main section.view4 .box3 p {
  width: 60%;
  margin: 1rem 0rem;
}
main section.view4 .box3 {
  border-bottom: 2px solid rgba(34, 33, 33, 0.2);
}
main section.view4 .box4 {
  margin: 1rem 0rem;
}
main section.view4 .box4 img {
  font-size: 2rem;
  width: 12%;
  padding: 0.5rem;
  background: #dee2ff;
  border-radius: 10px;
  font-weight: 300;
}
main section.view4 .box4 {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
main section.view4 .box4 img {
  margin-bottom: 0.5rem;
}
main section.view4 .box4 h2 {
  margin: 0.5rem 0rem;
  font-size: 2.9rem;
  font-weight: 600;
  line-height: 1.1;
}
main section.view4 .box4 h3 {
  line-height: 0.5;
  font-weight: 100;
  font-size: 1.4rem;
}
main section.view4 .box4 p {
  width: 60%;
  margin: 1rem 0rem;
}
main section.view4 .box4 {
  border-bottom: 2px solid rgba(34, 33, 33, 0.2);
}
main section.view5 {
  background-image: url(https://cdn.prod.website-files.com/68e65d77fd19a20963758dbf/68e65d77fd19a20963758ee4_grid.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 1.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1.3rem;
}
main section.view5 .informationofemployee {
  display: flex;
  max-width: 100vmin;
  padding: 0rem 1rem;
  gap: 0.8rem;
  overflow-x: auto;
}
main section.view5 .informationofemployee .box1 {
  width: 100%;
  margin: 0.8rem 0rem;
  background: #dee2ff;
  font-size: 0.9rem;
  padding: 1rem;
  border-radius: 20px;
  flex-shrink: 0;
}
main section.view5 .informationofemployee .box1 img {
  width: 18%;
}
main section.view5 .informationofemployee .box1 .upper {
  display: flex;
  flex-direction: row-reverse;
  margin: 0rem auto;
  justify-content: space-between;
}
main section.view5 .informationofemployee .box1 .upper .colum {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
}
main section.view5 .informationofemployee .box1 .bottom {
  font-size: 1.1rem;
  font-weight: 590;
  margin-top: 2rem;
  line-height: 1.3;
}
main section.view5 .informationofemployee .box2 {
  width: 100%;
  margin: 0.8rem 0rem;
  background: #dee2ff;
  font-size: 0.9rem;
  padding: 1rem;
  border-radius: 20px;
  flex-shrink: 0;
}
main section.view5 .informationofemployee .box2 img {
  width: 18%;
}
main section.view5 .informationofemployee .box2 .upper {
  display: flex;
  flex-direction: row-reverse;
  margin: 0rem auto;
  justify-content: space-between;
}
main section.view5 .informationofemployee .box2 .upper .colum {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
}
main section.view5 .informationofemployee .box2 .bottom {
  font-size: 1.1rem;
  font-weight: 590;
  margin-top: 2rem;
  line-height: 1.3;
}
main section.view5 .informationofemployee .box3 {
  width: 100%;
  margin: 0.8rem 0rem;
  background: #dee2ff;
  font-size: 0.9rem;
  padding: 1rem;
  border-radius: 20px;
  flex-shrink: 0;
}
main section.view5 .informationofemployee .box3 img {
  width: 18%;
}
main section.view5 .informationofemployee .box3 .upper {
  display: flex;
  flex-direction: row-reverse;
  margin: 0rem auto;
  justify-content: space-between;
}
main section.view5 .informationofemployee .box3 .upper .colum {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
}
main section.view5 .informationofemployee .box3 .bottom {
  font-size: 1.1rem;
  font-weight: 590;
  margin-top: 2rem;
  line-height: 1.3;
}
main section.view5 .informationofemployee .box4 {
  width: 100%;
  margin: 0.8rem 0rem;
  background: #dee2ff;
  font-size: 0.9rem;
  padding: 1rem;
  border-radius: 20px;
  flex-shrink: 0;
}
main section.view5 .informationofemployee .box4 img {
  width: 18%;
}
main section.view5 .informationofemployee .box4 .upper {
  display: flex;
  flex-direction: row-reverse;
  margin: 0rem auto;
  justify-content: space-between;
}
main section.view5 .informationofemployee .box4 .upper .colum {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
}
main section.view5 .informationofemployee .box4 .bottom {
  font-size: 1.1rem;
  font-weight: 590;
  margin-top: 2rem;
  line-height: 1.3;
}

@media (min-width: 1024px) {
  main section.view1 {
    display: flex;
    flex-direction: column;
  }
  main section.view1 .bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  main section.view1 .bottom h1 {
    font-size: 7rem;
  }
  main section.view1 .last {
    text-align: left;
    margin: 1rem;
    padding: 1rem;
    width: 30%;
  }
  main section.view1 .last p {
    font-size: 1.3rem;
    line-height: 1.5;
  }
  main .blank {
    width: 100%;
    height: 15vh;
  }
  main section.view2 .top {
    width: 100%;
  }
  main section.view2 .top video {
    width: 10%;
    border: none;
  }
  main section.view2 .bottom {
    margin: 0rem 14rem;
    font-size: 2rem;
    padding: 0rem 5rem;
  }
  main section.view2 .bottom h2 {
    line-height: 1.3;
  }
  main .blank1 {
    width: 100%;
    height: 55vh;
  }
  main section.view3 {
    height: 83vh;
    margin-top: 0.8rem;
    margin: 0rem 2rem;
  }
  main section.view4 {
    display: flex;
    justify-content: space-between;
    min-height: 90vh;
  }
  main section.view4 h2 {
    font-size: 5.5rem;
    width: 48%;
    flex-wrap: nowrap;
  }
  main section.view4 .boxs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  main section.view4 .boxs .box1 {
    display: flex;
    flex-direction: column;
  }
  main section.view4 .boxs .box1 img {
    font-size: 2rem;
    width: 12%;
    padding: 0.5rem;
    background: #dee2ff;
    border-radius: 10px;
    font-weight: 300;
  }
  main section.view4 .boxs .box1 {
    border-bottom: none;
    border-right: 2px solid rgba(34, 33, 33, 0.2);
    margin-right: 1.6rem;
    padding-left: 1rem;
  }
  main section.view4 .boxs .box2 img {
    font-size: 2rem;
    width: 12%;
    padding: 0.5rem;
    background: #dee2ff;
    border-radius: 10px;
    font-weight: 300;
  }
  main section.view4 .boxs .box2 {
    border-bottom: none;
    border-right: 2px solid rgba(34, 33, 33, 0.2);
    margin-right: 1.6rem;
    padding-left: 1rem;
  }
  main section.view4 .boxs .box3 img {
    font-size: 2rem;
    width: 12%;
    padding: 0.5rem;
    background: #dee2ff;
    border-radius: 10px;
    font-weight: 300;
  }
  main section.view4 .boxs .box3 {
    border-bottom: none;
    border-right: 2px solid rgba(34, 33, 33, 0.2);
    margin-right: 1.6rem;
    padding-left: 1rem;
  }
  main section.view4 .boxs .box4 {
    border: none;
  }
  main section.view5 {
    position: relative;
    min-height: 105vh;
    display: flex;
    justify-content: center;
  }
  main section.view5 #head {
    position: absolute;
    width: 50%;
    text-align: center;
    font-size: 5rem;
  }
  main section.view5 .informationofemployee {
    display: flex;
    justify-content: center;
    width: 23%;
  }
  main section.view5 .informationofemployee .box1 {
    width: 23%;
    position: absolute;
    top: 14%;
    left: 35%;
  }
  main section.view5 .informationofemployee .box2 {
    width: 23%;
    position: absolute;
    bottom: 0%;
    right: 33%;
  }
  main section.view5 .informationofemployee .box3 {
    width: 23%;
    position: absolute;
    left: 3%;
    top: 40%;
  }
  main section.view5 .informationofemployee .box4 {
    width: 23%;
    top: 40%;
    position: absolute;
    right: 3%;
  }
  main section.view5 .informationofemployee:hover .box1 {
    transition: all 1s ease;
    left: 40%;
    top: 30%;
  }
  main section.view5 .informationofemployee:hover .box2 {
    transition: all 1s ease;
    right: 40%;
    bottom: 20%;
  }
  main section.view5 .informationofemployee:hover .box3 {
    transition: all 1s ease;
    left: 25%;
    top: 50%;
  }
  main section.view5 .informationofemployee:hover .box4 {
    right: 25%;
    top: 50%;
    transition: all 1s ease;
  }
}/*# sourceMappingURL=index.css.map */