/*  issa mia position ki baata hora hai position k use se haama left,right, bottom ye sab use kar sakta hai */
*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
}
#car1{
 
    height: 100px;
    width: 100px;
    background: #000;
}
#car2{
    position: relative;
    left: 10%;
    height: 120px;
    width: 120px;
    background:blue;
}
#car3{
    height: 150px;
    width: 150px;
    background: green;
}
#big
{
    position: relative;
    height: 250px;
    width: 250px;
    background: yellow;
}
#small
{
    left: 50%;
    position: absolute;
    height: 50px;
    width: 50px;
    background: red;
}
#homepage
{
    position: relative;
    width: 100%;
    height: 100%;
    background:pink;
}
#sidebar{
    top: 20% ;
    position: absolute;
    right: 0%;
    height:450px;
    width: 220px;
    background: red;
}
#next{
    width: 100%;
    height: 100%;
    background:gray;
}
#stick{
    margin-left: auto;
    position: sticky;
    
    top: 10%;
    right: 0%;
  width: 100px;
    height: 400px;
    background:brown;
}   
