@font-face {
    font-family: 'my';
    src: url('./fonts/Berosong-Regular.ttf');
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    color: aliceblue;
}
#A{
    color: brown;
}
h1{
    color: pink;
    /* background: blueviolet; */
    font-size: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
     font-weight: 200px;
     text-align: center;
     text-transform: capitalize;
}
p{
    color: bisque;
    font-size: 100px;
    font-weight: 200px;
    text-align: center;
    text-transform: capitalize;
    font-style: oblique;
    font-family: my;
    
}
