*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    // background: #000;
}
main{
    height: 100%;
    width: 100%;
    background: #000;
    display: flex;
    justify-content:center;
    align-items: center;
.card{
    background: white;
    width: 36rem;
    height: 20rem;
    border-radius: 2rem;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    h2{
        font-size: 2.2rem;
        text-align: center;
        b{
            color: aqua;
        }
    }
    h1{
         font-size: 2.2rem;
    }
    .outer{
        height: 2rem;
        width: 30rem;
        background: grey;
        border-radius: 2rem;
        .inner{
            height: 100%;
        width: 0%;
        background: green;
        border-radius: 2rem;
      
        }
    }
    .download{
        display: flex;
        justify-content: space-between;
        width: 80%;
       
        button{
            font-size: 1.2rem;
            padding: 0.6rem;
            background: rgb(125, 234, 125);
            border-radius: 1rem;
            border: solid 2px white;
        }

        button:active{
            scale: 0.85;
        }
    }
}
}